<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            [(ngModel)]="tutorial.title"
            name="title"
          />
        </div>
  
        <div class="form-group">
          <label for="description">Description</label>
          <input
            class="form-control"
            id="description"
            required
            [(ngModel)]="tutorial.description"
            name="description"
          />
        </div>



        <!--div class="mb-0">
          <label for="project-overview" class="form-label">Theme </label>
          <ng-multiselect-dropdown [placeholder]="'groupe'" [settings]="dropdownSettings" [data]="theme"
          [(ngModel)]="formation.groupe">
        </ng-multiselect-dropdown>



      </div>-->


     <!-- <div class="form-group">
        <label for="theme">Theme</label>wini page li kona 
        <mat-select placeholder="Select Theme" [(ngModel)]="id_theme" name="theme">
          <mat-option *ngFor="let item of theme" [value]="item.id">{{ item.nom }}</mat-option>
        </mat-select>
      </div>-->
      
    <!--  <mat-form-field>
        <mat-label>Theme</mat-label>
        <mat-select [(ngModel)]="id_theme" multiple>
          <mat-option *ngFor="let item of theme" [value]="item.id">{{item.nom}}</mat-option>
        </mat-select>
      </mat-form-field> ahwaa lcode eli aamltou ena mta3 ng-multiselect-dropdown-->
      <label for="theme">Theme</label>

      <p-multiSelect [options]="theme" [(ngModel)]="selectedCities" optionValue="id" optionLabel="nom"></p-multiSelect>

    
  
        <button (click)="saveTutorial()" class="btn btn-success" >Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Tutorial was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newTutorial()">Add</button>
      </div>
      
    </div>
  </div>